{% extends 'dashboard.html' %}
{% block content %}

<h1 class="mb-5">Formulario de edición de productos</h1>
<form method="POST" style="width: 40%;">
  {% csrf_token %}
  <div class="form-group">
    <label for="sku" class="h4">SKU de producto</label>
    <input type="number" class="form-control" name="sku" id="sku" value="{{ idarticulo.SKU }}" required>
  </div>

  <div class="form-group">
    <label for="category" class="h4">Categoria de producto</label>
    <select class="form-control" name="category" id="category" value="{{ idarticulo.categoria }}" required>
      <option value="1">Tecnología</option>
      <option value="2">Muebles</option>
      <option value="3">Electro y Línea Blanca</option>
      <option value="4">Domitorio</option>
    </select>
  </div>

  <div class="form-group">
    <label for="name" class="h4">Nombre de producto</label>
    <input type="text" class="form-control" name="name" id="name" value="{{ idarticulo.nombre }}" required>
  </div>

  <div class=" form-group">
    <label for="price" class="h4">Precio de venta</label>
    <input type="number" class="form-control" name="price" id="price" value="{{ idarticulo.precio_venta }}" required>
  </div>

  <div class=" form-group">
    <label for="stock" class="h4">Stock</label>
    <input type="number" class="form-control" name="stock" id="stock" value="{{ idarticulo.stock }}" required>
  </div>

  <div class=" form-group">
    <p class="h4 mt-3">Descripción de producto</p>
    <textarea class="form-control" name="description" id="description">{{ idarticulo.descripcion }}</textarea>
  </div>

  <div class="form-group">
    <input type="file" id="file" name="file">
  </div>

  <div class="form-group">
    <input type="hidden" id="imageUrl" name="imageUrl" value="{{ idarticulo.image }}">
  </div>

  <img id="imagen-cargada" src="{{ idarticulo.image }}"
    style="height: 180px; width: 180px; object-fit: cover; border-radius:15px">

  <div class="form-group">
    <input class="btn btn-primary btn-lg mt-3" type="submit" value="Ingresar" name="Ingresar">
  </div>

</form>

<script src="https://cdnjs.cloudflare.com/ajax/libs/pica/6.1.1/pica.min.js"></script>
<script>
  const fileInput = document.getElementById('file');
  const img = document.getElementById('imagen-cargada');
  const imageUrlInput = document.getElementById('imageUrl');
  let imageUrl;

  fileInput.addEventListener('change', (e) => {
    const file = fileInput.files[0];
    const reader = new FileReader();

    reader.addEventListener('load', (e) => {
      imageUrl = reader.result;
      img.onload = function () {
        // Create an off-screen canvas
        var offScreenCanvas = document.createElement('canvas');
        const aspectRatio = img.naturalWidth / img.naturalHeight;
        if (img.naturalWidth > img.naturalHeight) {
          offScreenCanvas.width = 200;
          offScreenCanvas.height = 200 / aspectRatio;
        } else {
          offScreenCanvas.height = 200;
          offScreenCanvas.width = 200 * aspectRatio;
        }

        // Resize the image
        pica().resize(img, offScreenCanvas)
          .then(result => pica().toBlob(result, 'image/jpeg', 0.90))
          .then(blob => {
            // Create a new FileReader instance
            var reader = new FileReader();
            // Listen to the 'load' event
            reader.addEventListener('load', () => {
              // reader.result contains the Base64 data
              imageUrlInput.value = reader.result;
            });
            // Convert the blob to Base64
            reader.readAsDataURL(blob);
          });
      }
      img.src = imageUrl;
      imageUrlInput.value = imageUrl;
      console.log(imageUrlInput.value)
    });

    reader.readAsDataURL(file);
  });
</script>

{% endblock %}