{% extends 'dashboard.html' %}
{% block content %}

<h1 class="mb-5">Formulario de edición de productos</h1>
<form method="POST" style="width: 40%;" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="form-group">
    <label for="sku" class="h4">SKU de producto</label>
    <input type="text" class="form-control" name="sku" id="sku" value="{{ idarticulo.SKU }}" required maxlength="9"
      minlength="9">
  </div>

  <div class="form-group">
    <label for="category" class="h4">Categoria de producto</label>
    <select class="form-control" name="category" id="category" required>
      {% for categoria in categorias %}
      {% if idarticulo.idcategoria == categoria.idcategoria %}
      <option value="{{categoria.idcategoria}}" selected>{{categoria.nombre}}</option>
      {% else %}
      <option value="{{categoria.idcategoria}}">{{categoria.nombre}}</option>
      {% endif %}
      {% endfor %}
    </select>
  </div>

  <div class="form-group">
    <label for="name" class="h4">Nombre de producto</label>
    <input type="text" class="form-control" name="name" id="name" value="{{ idarticulo.nombre }}" required>
  </div>

  <div class=" form-group">
    <label for="price" class="h4">Precio de venta</label>
    <input type="number" class="form-control" name="price" id="price" value="{{ idarticulo.precio_venta }}" required>
  </div>

  <div class=" form-group">
    <label for="stock" class="h4">Stock</label>
    <input type="number" class="form-control" name="stock" id="stock" value="{{ idarticulo.stock }}" required>
  </div>

  <div class=" form-group">
    <p class="h4 mt-3">Descripción de producto</p>
    <textarea class="form-control" name="description" id="description">{{ idarticulo.descripcion }}</textarea>
  </div>

  <div class="form-group">
    <input type="file" id="file" name="file" accept="image/png, image/jpeg">
  </div>

  <div class="form-group">
    <input type="hidden" id="imageUrl" name="imageUrl" value="{{ idarticulo.image }}">
  </div>

  <div class="form-group">
    <input type="hidden" id="createdBy" name="createdBy" value="{{ request.session.rut }}">
  </div>

  <img id="imagen-cargada" src="{{ idarticulo.image }}"
    style="height: 180px; width: 180px; object-fit: cover; border-radius:15px">

  <div class="form-group">
    <input class="btn btn-primary btn-lg mt-3" type="submit" value="Ingresar" name="Ingresar">
  </div>

</form>

<script src="https://cdnjs.cloudflare.com/ajax/libs/pica/6.1.1/pica.min.js"></script>
<script>
  const fileInput = document.getElementById('file');
  const img = document.getElementById('imagen-cargada');
  const imageUrlInput = document.getElementById('imageUrl');
  let publicImageUrl = ""; // Para almacenar la URL pública devuelta por la API

  // Al seleccionar una imagen
  fileInput.addEventListener('change', (e) => {
    const file = fileInput.files[0];
    const reader = new FileReader();

    reader.onload = function (e) {
      const base64Image = reader.result;
      img.src = base64Image; // Mostrar la imagen cargada en Base64 en la pantalla
    };

    reader.readAsDataURL(file);
  });

  
</script>

{% endblock %}