{% extends 'dashboard.html' %}
{% block content %}

<h1 class="mb-5">Formulario de ingreso de productos</h1>
{% if sku_founded %}
<div class="alert alert-danger" role="alert">
  <h5>SKU ya está en uso</h5>
</div>
{% endif %}
<form method="POST" style="width: 40%;" enctype="multipart/form-data">
  {% csrf_token %}

  <div class="form-group">
    <input type="hidden" class="form-control" name="createdBy" id="createdBy" value="{{ request.session.rut }}">
  </div>

  <div class="form-group">
    <label for="sku" class="h4">SKU de producto</label>
    <input type="text" class="form-control" name="sku" id="sku" required maxlength="9" minlength="9">
  </div>

  <div class="form-group">
    <label for="category" class="h4">Categoria de producto</label>
    <select class="form-control" name="category" id="category" required>
      <option value="" selected disabled hidden>Seleccione una categoría</option>
      {% for categoria in categorias %}
      <option value="{{categoria.idcategoria}}">{{categoria.nombre}}</option>
      {% endfor %}
    </select>
  </div>

  <div class="form-group">
    <label for="name" class="h4">Nombre de producto</label>
    <input type="text" class="form-control" name="name" id="name" required>
  </div>

  <div class="form-group">
    <label for="price" class="h4">Precio de venta</label>
    <input type="number" class="form-control" name="price" id="price" required>
  </div>

  <div class="form-group">
    <label for="stock" class="h4">Stock</label>
    <input type="number" class="form-control" name="stock" id="stock" required>
  </div>

  <div class="form-group">
    <p class="h4 mt-3">Descripción de producto</p>
    <textarea class="form-control" name="description" id="description"></textarea>
  </div>

  <div class="form-group">
    <input type="file" id="file" name="file" accept="image/png, image/jpeg">
  </div>

  <div class="form-group">
    <input type="hidden" id="imageUrl" name="imageUrl">
  </div>

  <img id="imagen-cargada" src="" style="height: 180px; width: 180px; object-fit: scale-down; border-radius:15px">

  <div class="form-group">
    <input class="btn btn-primary btn-lg mt-3" type="submit" value="Ingresar" name="Ingresar">
  </div>

</form>

<script src="https://cdnjs.cloudflare.com/ajax/libs/pica/6.1.1/pica.min.js"></script>
<script>
  const fileInput = document.getElementById('file');
  const img = document.getElementById('imagen-cargada');
  const imageUrlInput = document.getElementById('imageUrl');
  let publicImageUrl = ""; // Para almacenar la URL pública devuelta por la API

  // Al seleccionar una imagen
  fileInput.addEventListener('change', (e) => {
    const file = fileInput.files[0];
    const reader = new FileReader();

    reader.onload = function (e) {
      const base64Image = reader.result;
      img.src = base64Image; // Mostrar la imagen cargada en Base64 en la pantalla
    };

    reader.readAsDataURL(file);
  });

  
</script>


<!--
<script src="https://cdnjs.cloudflare.com/ajax/libs/pica/6.1.1/pica.min.js"></script>
<script>
  const fileInput = document.getElementById('file');
  const img = document.getElementById('imagen-cargada');
  const imageUrlInput = document.getElementById('imageUrl');
  let imageUrl;

  fileInput.addEventListener('change', (e) => {
    const file = fileInput.files[0];
    const reader = new FileReader();

    reader.addEventListener('load', (e) => {
      imageUrl = reader.result;
      img.onload = function () {
        // Create an off-screen canvas
        var offScreenCanvas = document.createElement('canvas');
        const aspectRatio = img.naturalWidth / img.naturalHeight;
        if (img.naturalWidth > img.naturalHeight) {
          offScreenCanvas.width = 200;
          offScreenCanvas.height = 200 / aspectRatio;
        } else {
          offScreenCanvas.height = 200;
          offScreenCanvas.width = 200 * aspectRatio;
        }

        // Resize the image
        pica().resize(img, offScreenCanvas)
          .then(result => pica().toBlob(result, 'image/jpeg', 0.90))
          .then(blob => {
            // Create a new FileReader instance
            var reader = new FileReader();
            // Listen to the 'load' event
            reader.addEventListener('load', () => {
              // reader.result contains the Base64 data
              imageUrlInput.value = reader.result;
            });
            // Convert the blob to Base64
            reader.readAsDataURL(blob);
          });
      }
      img.src = imageUrl;
      imageUrlInput.value = imageUrl;
      console.log(imageUrlInput.value)
    });

    reader.readAsDataURL(file);
  });
</script>
-->

{% endblock %}