{% extends 'dashboard.html' %}

{% load static %}

{% block content %}

<div class="mb-5 space-between">
  <h1 class="d-inline">Listado de productos</h1>
  <a href="{% url 'addProduct' %}" class="justify-middle" style="text-decoration:none">
    <button class=" d-inline btn btn-primary">
      <i class="fas fa-plus"></i>
      Añadir
    </button>
  </a>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Foto</th>
      <th scope="col">Nombre</th>
      <th scope="col">SKU</th>
      <th scope="col">Stock</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for product in products %}
    <tr class="mask">
      <td><img src="{{ product.image }}" alt="{{ product.nombre }}"
          style="height:180px; width:180px; object-fit: cover; border-radius:15px"></td>
      <td>{{ product.nombre }}</td>
      <td>{{ product.SKU }}</td>
      <td>{{ product.stock }}</td>
      <td>
        <a href="{% url 'updateProduct' product.idarticulo %}" class="btn btn-primary">
          <i class="fas fa-edit"></i>
        </a>
        <button class="btn btn-danger" onclick="deleteProduct('{{ product.idarticulo }}')">
          <i class="fas fa-trash-alt"></i>
        </button>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}