{% extends 'dashboard.html' %}

{% load static %}

{% load humanize %}

{% block content %}


<div class="p-2 space-between">
  <h1 class="d-inline">Productos</h1>
  {% if request.session.role == 1 or request.session.role == 2 %}
  <a href="{% url 'addProduct' %}" class="justify-middle" style="text-decoration:none">
    <button class=" d-inline btn btn-primary">
      <i class="fas fa-plus"></i>
      Añadir
    </button>
  </a>
  {% endif %}
</div>

<div class="pb-4">
  <form action="{% url 'searchProduct' %}" method="POST" class="form-inline">
    {% csrf_token %}
    <input class="form-control mr-sm-2 w-75" type="search" placeholder="Buscar productos" aria-label="Search"
      name="search">
    <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Buscar</button>
  </form>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col" style="width: 265px;">Foto</th>
      <th scope="col">Nombre</th>
      <th scope="col">SKU</th>
      <th scope="col">Stock</th>
      <th scope="col">Precio venta</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for product in products %}
    <tr class="mask" data-toggle="collapse" data-target="#card-body-{{ product.idarticulo}}" style="cursor: pointer;">
      <td><img src="{{ product.image }}" alt="{{ product.nombre }}"
          style="height:60px; width:60px; object-fit: cover; border-radius:15px"></td>
      <td>{{ product.nombre }}</td>
      <td>{{ product.SKU }}</td>
      <td>{{ product.stock }}</td>
      <td>${{ product.precio_venta|intcomma }}</td>
      <td>
        {% if request.session.role == 1 or request.session.role == 2 %}
        <a href="{% url 'updateProduct' product.idarticulo %}" class="btn btn-primary">
          <i class="fas fa-edit"></i>
        </a>
        <button class="btn btn-danger" onclick="deleteProduct('{{ product.idarticulo }}')">
          <i class="fas fa-trash-alt"></i>
        </button>
        {%endif%}
      </td>
    </tr>
    <tr>
      <th id="card-body-{{ product.idarticulo}}" class="collapse" scope="col"></th>
      {% if request.session.role == 3%}
      <th id="card-body-{{ product.idarticulo}}" class="collapse" scope="col" colspan="2">Detalle</th>
      {% else %}
      <th id="card-body-{{ product.idarticulo}}" class="collapse" scope="col" colspan="3">Detalle</th>
      {%endif%}
      <th id="card-body-{{ product.idarticulo}}" class="collapse" scope="col">Ingresado/Editado por</th>
      <th id="card-body-{{ product.idarticulo}}" class="collapse" scope="col">Fecha de ingreso</th>
    </tr>
    <tr id="card-body-{{ product.idarticulo}}" class="collapse">
      <td id="card-body-{{ product.idarticulo}}" class="collapse justify-middle"
        style="padding: 0px; width: 265px; height: 265px;">
        <img src="{{ product.image }}" alt="{{ product.nombre }}"
          style="height: 100%; width: 100%; object-fit: cover; border-radius:15px;">
      </td>
      {% if request.session.role == 3%}
      <td class="border-right" colspan="2">
        <div id="card-body-{{ product.idarticulo }}" class="collapse description">
          {{ product.descripcion }}
        </div>
      </td>
      {% else %}
      <td class="border-right" colspan="3">
        <div id="card-body-{{ product.idarticulo }}" class="collapse description">
          {{ product.descripcion }}
        </div>
      </td>
      {%endif%}
      <td>
        <div id="card-body-{{ product.idarticulo }}" class="collapse description">{{ product.created_by }}</div>
      </td>
      <td>
        <div id="card-body-{{ product.idarticulo }}" class="collapse description">{{ product.created_at|date:"d-m-Y" }}
        </div>
      </td>
    </tr>
    <thead>
      {% endfor %}
  </tbody>
</table>

{% endblock %}